#fileInput {
    display: none;
}

.upload-button {
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

img {
    max-width: 100%;
    display: none;
    margin-top: 10px;
}